<!-- loader started -->
<div class="elevator" id='loaderElevator'>
  <div class="topwall metal-upper">
    <div class="lightbox left">
      <div class="lightbox-inner">
        <span class="light-item"></span>
        <span class="light-item"></span>
      </div>
    </div>
    <div class="lightbox right">
      <div class="lightbox-inner">
        <span class="light-item"></span>
        <span class="light-item"></span>
      </div>
    </div>
  </div>
  <div class="rightwall metal">
    <div class="dark-metal-gradient"></div>
  </div>
  <div class="bottomwall"></div>
  <div class="leftwall metal">
    <div class="dark-metal-gradient"></div>
  </div>
  <div class="centerwall">
    <div class="centerwall-inner">
      <div class="button-panel metal">
        <div class="panel-box">
          <div class="panel-container">
            <div class="panel-screen">
              <div class="curr-flr"><span id='currentFloor'>G</span><span class="blinker-arrow">^</span></div>
            </div>
            <div class="techo-box">
              <div class="logo-svg hide-1050">
              </div>
              <div class="logo-svg-mob show-1050">
              </div>
              <div class="mob-text show-1050">Techolution</div>
              <div class="msg" id="loadingTechoMsg">Ever seen a loading animation like this?<br/>Made with 100% CSS and JS.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="door-panel">
        <div id='leftDoor' class="door-inner metal left"></div>
        <div id='rightDoor' class="door-inner metal right"></div>
      </div>
    </div>
  </div>
</div>
<!-- loader ended -->
